body{
    font-family: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.container{    
    margin: 0 auto;
    width: 950px;
}
/* header section css */
.header {
    background: rgba(229, 84, 115, 0.1);
    padding-top: 20px;
    position: relative;
    display: block;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: url(../images/pngwing-10.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 300px 495px;
}
.header-content {
    padding: 50px 0px 50px;
    display: block;
    position: relative;
    width: 708px;
}
.welcome-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    width: 457px;
}
.welcome-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 558px;
    padding: 32px 0px;
}
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
}
.btn-primary a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}
.welcome-img {
    max-width: 315px;
    height: auto;
}
/* main section css */
.features{
    display: block;
    position: relative;
}
.features .features-container {
    padding: 50px 0px;
}
.features .features-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.features .features-txt {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;;
}
.features .flower-box {
    
}
.features .features-flowers-first {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 35px 35px 0px 35px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 10px;
}
.features .features-flowers {
    width: 237px;
    height: 250px;
}
.features .features-flowers-second {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 35px 35px 0px 35px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 10px;
}
.features .features-flowers-third {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 35px 35px 0px 35px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.link {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}
.features .link a{
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 10px 0px;
    display: block;
}
/* support css */
.support {
    margin: 30px 0px;
}
.container.support-bg {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.container.support-bg .box-padding{
    padding: 30px;;
}
.container.support-bg .icon {
    display: inline-block;
    text-align: center;
    width: 33%;
}